span(ng-bind="$getDisplayText()", ng-class="{'text-success': data.biomass != null}")
span(ng-if="data.biomass")  ({{data.biomass}} mg) 
a.remove-button(ng-click="$removeTag()", ng-bind="::$$removeTagSymbol")
