.matrix-table {
  width: auto;
}

.matrix-table > thead > tr.header > th {
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #eee;
  color: #7f94a1;
}

.matrix-table > thead > tr.header > th > i {
  margin-right: 5px;
}

.matrix-table > thead > tr > th {
  white-space: nowrap;
}

.matrix-table > tbody > tr.species > th {
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #eee;
  color: #7f94a1;
  margin: 0 !important;
  width: auto;
  border-bottom: 2px solid #ddd;
}

.matrix-table > tbody > tr.species > th > i {
  margin-right: 5px;
}

.matrix-table > tbody > tr > td {
  white-space: nowrap;
}

.matrix-table > tbody > tr > td.cell {
  padding: 0;
  min-width: 30px;
}

.matrix-input {
  outline: none;
  width: 5em;
  height: 2.5em;
  padding: 7px;
  color: #333;
}
