.tachet-box {
  margin: 20px 2px 10px 2px;
}

.tachet-table {
  width: auto;
  table-layout: fixed;
}

.tachet-table > thead > tr > th {
  white-space: nowrap;
}

.tachet-description {
  width: 100%;
  padding: 0 0 2px 0 !important;
  white-space: nowrap;
}

.tachet-description > input[type="text"] {
  border: 0;
  padding: 8px;
  width: 100%;
}
