.box.box-primary.box-solid(style="margin-top: 150px")
  .box-header
    h3.box-title
      i.fa.fa-key
      |   Set Password
  .box-body
    .row(style="margin-bottom: 5px")
      .col-md-12
        label Password 
          span.th-unit required
        .input-group
          span.input-group-addon
            i.fa.fa-key
          input.form-control(type='password', ng-model="user.password")
    .row(style="margin-bottom: 5px")
      .col-md-12
        label Confirm Password 
          span.th-unit required
        .input-group
          span.input-group-addon
            i.fa.fa-key
          input.form-control(type='password', ng-model="user.confirm")
  .box-footer.no-padding
    a.confirm-left-button.confirm-buttons(ng-click="closeThisDialog()", href="")
      span Cancel
    a.confirm-right-button.confirm-buttons(ng-click="user.submit()", href="")
      span Set Password
