aside.right-side
  .content-nav-holder
  
  .content-table-header
    a.content-header-left
      i.fa.fa-history 
      |   History
      
  .row.history-content
    .col-lg-8
      .timeline-d(history="history.data", comments="true", on-submit-comment="history.onSubmitComment")
